:root {
  --color-rosso-corsa: #d00000;
  --color-powder-blue: #adb5bd;

  --btn-danger-color: var(--color-rosso-corsa);
  --btn-input-color: var(--color-powder-blue);
  background: url(./assets/backiee-178096.jpg) repeat center center/cover;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}
input {
  font-family: "Raleway", sans-serif;
}
